<!DOCTYPE html>
<html lang="en">

<head>
    <script defer src="../static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="author" content="Moyo Akoma">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Akoma professional website">
    <meta charset="UTF-8">
    <title>Moyo Akoma</title>
</head>

<body onload="addYear()">
    <header>
        <h1 id="webname">Moyo Akoma</h1>
        <nav>
            <li><a href="../index.html" class="nav-link">Home</a></li>
            <li><a href="cv.html" class="nav-link">CV</a></li>
            <li><a href="contact.html" class="nav-link">Contact Me</a></li>
            <li><a href="fun.html" class="nav-link">For Fun</a></li>
    </nav>
    </header>

    <div class="main">
        <h2>Curriculum Vitae</h2>

        <table border="1">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Moyo Akoma</td>
                <td>Third-year student at Carnegie Mellon University studying Business and Statistics. Passionate about mathematics, statistics, data analysis.</td>
            </tr>
            <tr>
                <td>Skills</td>
                <td>Numerical Optimization, Statistical Inference, Professional Writing and Presentation, Excel, R, Python, SQL, MongoDB, HTML, CSS, JavaScript</td>
            </tr>
            <tr>
                <td>Education</td>
                <td>B.S. in Business Administration, Statistics</td>
            </tr>
        </table>
    
        <p><a href="../static/Akoma_Resume.pdf" download>Download My Resume</a></p>
    </div>

    <footer>
        <p id="copyYear"></p>
    </footer>
</body>


</html>
