<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="author" content="Moyo Akoma">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Akoma professional website">
    <title>Moyo Akoma</title>
</head>

<body style="font-family: Arial;">
    <header>
        <h1>Moyo Akoma</h1>
        <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="cv.html">CV</a></li>
            <li><a href="contact.html">Contact Me</a></li>
            <li><a href="fun.html">For Fun</a></li>
        </ul>
    </nav>
    </header>

    <div class="main">
        <h2>Curriculum Vitae</h2>

        <table border="1">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Moyo Akoma</td>
                <td>Third-year student at Carnegie Mellon University studying Business and Statistics. Passionate about mathematics, statistics, data analysis.</td>
            </tr>
        </table>
    
        <p><a href="../static/Akoma_Resume.pdf" download>Download My Resume</a></p>
    </div>

    <footer>
        <p>&copy; 2024 Moyo Akoma. All rights reserved.</p>
    </footer>
</body>


</html>
