<!DOCTYPE html>
<html lang="en">

<head>
    <script defer src="../static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="author" content="Moyo Akoma">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Akoma professional website">
    <meta charset="UTF-8">
    <title>Moyo Akoma</title>
</head>

<body>
    <header>
        <h1 id="webname">Moyo Akoma</h1>
        <nav>
            <li><a href="../index.html" class="nav-link">Home</a></li>
            <li><a href="cv.html" class="nav-link">CV</a></li>
            <li><a href="contact.html" class="nav-link">Contact Me</a></li>
            <li><a href="fun.html" class="nav-link">For Fun</a></li>
    </nav>
    </header>

    <div class="main">
        <h2>Things I do for fun</h2>
        <button id="showListButt" onclick = "showList()">
            Click to see...
        </button>
        <ul id="funList" style = "display:none;">
            <li>Biking</li>
            <li>Playing Puzzle Games</li>
            <li>Watching Movies</li>
            <li>Doing Puzzles</li>
        </ul>
    </div>
    
    <footer>
        <p id="copyYear"></p>
    </footer>
</body>


</html>
