<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="author" content="Moyo Akoma">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Akoma professional website">
    <title>Moyo Akoma</title>
</head>

<body style="font-family: Arial;">
    <header>
        <h1>Moyo Akoma</h1>
        <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="cv.html">CV</a></li>
            <li><a href="contact.html">Contact Me</a></li>
            <li><a href="fun.html">For Fun</a></li>
        </ul>
    </nav>
    </header>

    <div class="main">
        <h2>Things I do for fun</h2>
    
        <ul>
            <li>Biking</li>
            <li>Playing Puzzle Games</li>
            <li>Watching Movies</li>
            <li>Doing Puzzles</li>
        </ul>
    </div>
    
    <footer>
        <p>&copy; 2024 Moyo Akoma. All rights reserved.</p>
    </footer>
</body>


</html>
