* {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    padding: 5px;
    margin: 5px;
}
#webname {
    color: #009000;
}
.nav-link {
    text-decoration: none;
    color: #333333;
    margin-right: 15px;
}
th {
    padding: 12px 0;
    background-color: #333
    color: white;
    width: fit-content;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
form * {
    display: block;
    margin: auto;
    text-align: center;
}
input[type="submit"] {
    background-color: #009000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #007A00;
}
